<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ content_for_header }}

  {% style %}
  :root {
  }

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  {% endstyle %}

  {{ 'main.css' |  asset_url |  stylesheet_tag }}
  <title>Yo Theme</title>
</head>
<body>
  {%  sections 'header-group' %}
  <main>
    {{ content_for_layout }}
    <h1>Welcome to my theme!</h1>
  </main>
  {%  sections 'footer-group' %}
</body>
</html>